# Database files
*.db
*.db-journal
*.db-shm
*.db-wal

# Environment files (sensitive data)
.env
*.env

# Compiled Go binaries
/dist/
/bin/
cmd/api/api
cmd/migrate/migrate

# IDE and System files
.idea/
.vscode/
.DS_Store

data.db
tmp/